html{
    scroll-behavior: smooth;
}

body{
    margin: 0%;
    background-color: #eeeeee;
    cursor: pointer;
}

@font-face {
    font-family: 'Roxborough';
    src: url("https://chethan025.github.io/NewPortfolio/Sources/Fonts/Roxborough CF.ttf");
}
@font-face {
    font-family: 'Poappins';
    src: url("https://chethan025.github.io/NewPortfolio/Sources/Fonts/Poppins/Poappins-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Poappins';
    src: url("https://chethan025.github.io/NewPortfolio/Sources/Fonts/Poppins/Poppins-Thin.otf") format("opentype"); 
    font-weight: thin;
}
@font-face {
    font-family: 'Poappins';
    src: url("C:/Users/admin/OneDrive/Documents/Personal Projects/NewPortFolio/Sources/Fonts/Poppins/Poppins-Medium.otf") format("opentype"); 
    font-weight: medium;
}
@font-face {
    font-family: 'Sequel100Black-75';
    src: url("https://chethan025.github.io/NewPortfolio/Sources/Fonts/sequel-100-black-75.ttf");
}
@font-face {
    font-family: 'GeosansLight';
    src: url("https://chethan025.github.io/NewPortfolio/Sources/Fonts/GeosansLight.ttf");
}
@font-face {
    font-family: 'Philosopher';
    src: url("https://chethan025.github.io/NewPortfolio/Sources/Fonts/Philosopher/Philosopher-Regular.ttf");
}
@font-face {
    font-family: 'SulphurPoint';
    src: url("https://chethan025.github.io/NewPortfolio/Sources/Fonts/Sulphur/SulphurPoint-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'SulphurPoint';
    src: url("https://chethan025.github.io/NewPortfolio/Sources/Fonts/Sulphur/SulphurPoint-Light.otf") format("opentype");
    font-weight: thin;
}

::-webkit-scrollbar{
    background: transparent;
    width: 1px;
    height: 1px;
}


::-webkit-scrollbar-thumb{
    background-color: rgb(192, 191, 191);
    border: 0px;
    border-radius: 50px;
}

.wel{
    width: 100vw;
    height: 50vw;     /* hhhh */
    background: linear-gradient(180deg, rgba(70, 70, 70, 0.17) 0%, rgba(73, 73, 73, 0.57) 100%), url("https://chethan025.github.io/NewPortfolio/Sources/realistic_tech_company (2).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.nav{
    display: flex;
}

.lll{
    margin: 4vh 3.8vw;
    color: rgb(255, 255, 255);
    font-family: Roxborough;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

.lnks{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content:end;
    margin: 0.5vw;
}

.lnj{
    margin: 2vw;
    list-style-type: none;
    font-family: Poappins;
    font-style: normal;
    font-size: 1.2vw;
    letter-spacing: 0.08em;
    color: #eeeeee;
}

.cgh{
    display: flex;
    align-items: center;
    height: 42vw;
    padding: 0vw 5vw;
}

.chd{
    margin-left: auto;
    height: 20vw;
}

.ctx{
    margin: 0;
    font-family: Sequel100Black-75;
    font-size: 4.2vw;
    color: #FFFFFF;
    text-align: right;
}

.ctcx{
    font-family: SulphurPoint;
    font-style: normal;
    line-height: 3.2vh;
    font-size: 1.6vw;
    margin: 0;
    margin-left: 4vw;
    width: 30vw;
    text-align: right;
    color: #d1d1d1;
}

.box{
    margin: 5vw;
    display: grid;
    place-items: center;
    align-items: end;
    place-self: center;
    width: 28vw;
    height: 33vw;
    background: rgba(10, 10, 10, 0.38);
    border: 1px solid rgba(0, 0, 0, 0.49);
}

.daf{
    width: 25vw;
    height: 33vw;
}

.btn{
    display: grid;
    place-items: center;
    position: absolute;
    bottom: 5vw;
    
    left: 50vw;
    transform: translate(-50%, 50%);
}

.button{
    box-sizing: border-box;
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 2.8vw;
    width: 3vw;
    height: 6vw;
    text-align: center;
    padding: 0;
}

.bti{
    width: 2.3vw;
    height: 3vw;
}

.srl{
    font-family: Poppins;
    font-style: normal;
    font-weight: thin;
    font-size: 1vw;
    margin: 0.5vw;
    color: #FFFFFF;
}

.scl{
    height: 7.5vw;
    background-color: #1D1D1D;
    display: flex;
    position: relative;
}

.lgimg{
    width: 100vw;/* 
    height: 7.5vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin: 2vw;
}

.lomg{
    width: 14vw;
    margin: 0vw 5vw;
}


.svg2{
    position: absolute;
    right: 0;
    bottom: 0;
    align-self: flex-end;
}




.prsnl{
    height: 50vw;
    display: flex;
}

.prmg{
    width: 45.5vw;
    height: 50vw;
    opacity: 40%;
    color: #eeeeee;
}

.smgd{
    margin: 0vw 4.5vw;
    width: 45.5vw;
    height: 50vw;
    background-color: #050505;
}

.sdfh{
    width: 80vw;
    display: grid;
    align-items: center;
}

.gads{
    width: 42vw;
}

.prh{
    font-family: Philosopher;
    font-style: normal;
    font-weight: 400;
    font-size: 3.4vw;
    letter-spacing: 0.08em;
    color: #000000;
}

.prp{
    font-family: SulphurPoint;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    letter-spacing: 0.08em;
    margin: 4.2vw 4vw;
    color: #000000;
}

.btng{
    display: grid;
    place-items: end;
}

.prb{
    width: 6vw;
    height: 2.5vw;
    margin: 0vw 7vw 4vw 0vw;
    background-color: #1D1D1D;
    color: #eeeeee;
    font-family: Poappins;
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    color: #FFFFFF;
    border: 0;
    transition: 0.2s ease-in-out;
}

.prb:hover{
    background-color:#020202c2; 
}

abbr[title]{
    border-bottom: none !important;
    text-decoration: none !important
}

.ftrr{
    width: 100%;
    height: 4vw;
    background-color: #1F1F1F;
    display: grid;
    place-items: center;
}

.last{
    font-family: Philosopher;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6vw;
    margin: 0;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

.dg{
    display: none;
}

.righ{display: none;}






@media screen and (max-width: 600px)
{

    body{
       margin: 0;
    }

    ::-webkit-scrollbar{
        background: transparent;
        width: 0px;
        height: 1px;
    }
     

    .wel{
        background: linear-gradient(180deg, rgba(70, 70, 70, 0.17) 0%, rgba(22, 22, 22, 0.87) 100%), url("C:/Users/admin/OneDrive/Documents/Personal Projects/NewPortFolio/Sources/realistic_tech_company (2).jpg");
    background-position: center;
        
        height: 100vh;
    }
    .lll{
        font-size: 8vw;
        margin: 4vw 6vw;
    }
    .lnks{
        padding: 0px;
    }
    .lnj{
        font-size: 2vw;
        margin: 2vw ;
    }
    .cgh{
        display: block;
        height: 90vh;
        justify-content: center;
        position: relative;
    }
    .chd{
        display: none;
        margin-left: 0;
    }
    .dg{
        display: block;
    }
    .ctx{
        font-size: 7vw;
        margin: 4vw 0;
        text-align: left;
    }
    .ctcx{
        line-height: 5vw;
        letter-spacing: 0.1em;
        font-size: 6vw;
        width: 80vw;
        text-align: left;
    }
    .box{
        width: 60vw;
        height: 40vh;
    }
    .daf{
        width: 58vw;
        height: 40vh;
    }
    .btn{
        position: absolute;
        bottom: 10vh;
    }
    .button{
        width: 8vw;
        height: 18vw;
        border-radius: 50vw;
    }
    .bti{
        width: 6vw;
        height: 7vw;
    }
    .srl{
        font-size: 4vw;
        margin: 2vw;
    }
    .scl{
        height: 14vw;
    }
    .lgimg{
        height: 8vw;

    }
    .lomg{
        width:20vw;
        height: 7vw !important ;
        margin: 0px ;
    }



    .prsnl{
        height: 100vh;
        position: relative;
    }
    .prmg{
        width: 100vw;
        height: 100vh;
        opacity: 60%;
    }
    .smgd{
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .righ{display: block;}

    .sdfh{
        position: absolute;
        top: auto;
        width: 100vw;
        height: 100vh;
        place-items: center;
    }
    .gads{
        width: 80vw;
    }
    .prh{
        font-size: 10.4vw;
        color: #FFFFFF;
        position: relative;

    }
    .prp{
        font-size: 5.4vw;
        color: #FFFFFF;
        position: relative;

    }

    .prb{
        width: 25vw;
        height: 12vw;
        font-size: 4vw;

    }


    .ftrr{
        width: 100%;
        height: 10vw;
    }
    .last{
        font-size: 3.6vw;

    }

}

