
@font-face {
    font-family: 'Raleway';
    src: url("https://chethan025.github.io/NewPortfolio/Sources/Fonts/Raleway/Raleway-Medium.ttf") format("opentype");
}
@font-face {
    font-family: 'Gothic A1';
    src: url("https://chethan025.github.io/NewPortfolio/Sources/Fonts/Gothic A1/Gothic A1 Medium 500.ttf") format("opentype");
    src: url("https://chethan025.github.io/NewPortfolio/Sources/Fonts/Gothic A1/Gothic A1 SemiBold 600.ttf") format("opentype");
}
@font-face {
    font-family: 'Gothic A1';
    src: url("https://chethan025.github.io/NewPortfolio/Sources/Fonts/Gothic A1/Gothic A1 SemiBold 600.ttf") format("opentype");
    font-weight: bold;
}

.l{
    color: black;
}

.j{
    color: black;
    font-weight: medium 300;
    font-size: 1vw;
    cursor: hand;
}
.hh{
    font-size: 3.5vw;
    font-weight: 500;
    text-align: center;
}

.pdes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

.rnd{
    background: #2e2e2e;
    border-radius: 50%;
    height: 22vw;
    width: 22vw;
    margin:  5.5vw 4vw;
    position: relative;
    overflow: hidden;
}
.rndimg{
    height: 100%;
    width: 100%;
    display: block;
    opacity: 100%;
}

.tdit{
    font-family: Gothic A1;
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    padding: 0.5vw 4.5vw;
    color: #000000;
}

.tdit2{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8vw;
    padding: 0vw 5vw 0vw 0vw;
    color: #000000;
}

.bhsg{
    display: grid;
    place-items: center;
    width: max-content;
    height: max-content;
}

.hcs{
    display: grid;
    place-items: center;
    margin: 1vh 1vh 5vh 1vh;
}

.wadd{
    color: #000000;
}

.fs{
    border: 0px;
    width: max-content;
    height: max-content;
}

.bss{
    width: 4vw;
    height: 2vh;
}


.quli{
    height: 100vh;
}

div.tag{
    position: relative;            
    display: flex;       
    justify-content: center;   
    height: 60vh;       
}

table.qv{  
    display: inline-block;
    position: relative;
    height: 28vw;
    margin: 2px;
    border-collapse: collapse;
    background: #fafafa;
    overflow-y: auto;
 }
 
thead.had{
    height: 7.6vh;
    padding: 1.2vw;
    overflow: none;
    background: #1D1D1D;
    color: #eeee;
    font-family: Gothic A1;
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    align-self: center;    
    width: 100%;
    text-align: center;
}



tbody.bgk{
    max-height: 40vh;
    width: 80%;
    position: relative;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6vw;
    letter-spacing: 0.06em;
    line-height: 1.8em;
    text-align: center;
    color: #1A1A1A;
    background: #fafafa;
    padding: 1.2vw;
}

.tblclm{
    padding: 1.2vw 2.2vw 0.8vw;
    text-align: center;
width: max-content;
}

.tblrw{
    width: 100%;
}

.tblth{
    padding: 1.2vw;
}

a.clc{
    position: relative;
    color: #4c1179;
    text-decoration: none;
    transition: 100ms;
}

a.clc:hover{
    color: #1D1D1D;
}

.fabh{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.lggo{
    width: 5vw;
    height: 10vh;
    margin: 2vh 2vh 0vh 2vh;
}

.crdas{
    display: grid;
    place-items: center;
    padding: 0%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    width: 16vw;
    height: 32vh;
    margin: 3vw 6vw;
    background-color: #2e2e2e;
    transition: transform 0.5s;
}

.crdas:hover{
    transform: scale(1.08);
}

.crdhq{
    font-family: Sulphur Point;
    font-style: normal;
    font-size: 1.5vw;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    margin: 2vh 2vh 4.4vh 2vh;
}

.crpps{
    font-family: SulphurPoint;
    font-style: normal;
    word-break: break-all;
    font-size: 1.5vw;
    letter-spacing: 0.08em;
    text-align: center;
    color: #FFFFFF;
    margin: 0vh 4vh 6vh 4vh;
    font-weight: thin;
}



@media screen and (max-width: 600px)
{

    .j{
        font-size: 2vw;

    }
    .hh{
        font-size: 6.5vw;
        color: #000000;
    }
    .pdes{
        display: grid;
        place-items: center;
        height: 75vh;
    }
    .rnd{
        margin:  4.5vw 3vw;
        height: 52vw;
        width: 52vw;
    }
    .rndimg{
        width: 70vh;
    }
    .contt{
        margin:0px 6vw;
    }
    .tdit{
        font-size: 6vw;
    }
    .tdit2{
        font-size: 4.8vw;
        padding: 0vw ;
        width: max-content;
    }
    
    .wadd{
        font-size: 4vw;
    }
   
    .bss{
        width: 10vw;
        height: 2vh;
    }

    div.tag{
        height: 68vh;  
        align-items: center;     
    }

    table.qv{
        height: 40vh;
        width: 98vw;
    }
    thead.had{
        height: 5.6vh;
        padding: 0.2vw;
        font-size: 3.5vw;    
    }
    tbody.bgk{
        font-size: 2.8vw;
        padding: 1.2vw;
        width: 98vw;
    }

    .lggo{
        width: 10vw;
        height: 10vw;
        margin: 2vh 2vh 0vh 2vh;
    
    }
    .crdas{
        width: 38vw;
        height: 38vw;
    }
    .crdhq{
        font-size: 4vw;
        margin: 2vh;
        margin: 1vh  ;

    }
    .crpps{
        font-size: 3.5vw;
        margin: 0vh 2vh 6vh 2vh;

    }
    
}
