
.flxbx{
  display: flex;
  justify-content: center;
  height: max-content;
  position: relative;
}



.stk{
  display: grid;
  place-items: center;
}

.hor{
  width: 0.8vw;
  height: 12vh;
  background: #2e2e2e;
}

.ron{
  width: 1.5vw;
  height: 2.2vh;
  background: #2e2e2e;
  border-radius: 40%;
}

.hor2{
  width: 0.8vw;
  height: 15vh;
  background: #2e2e2e;
}

.rec{
  width: 1.5vw;
  height: 1.5vh;
  background: #2e2e2e;
    
}

.hor3{
  width: 0.8vw;
  height: 20vh;
  background: #2e2e2e;
}

.skl{
  display: block;
  width: 30vw;
  height: 35vh;
  position: relative;
  top: 7vh;
    
}

.hob{
  display: block;
  width: 30vw;
  height: 35vh;
  position: relative;
  top: 24vh;
    
}

.skh{
  font-family: Gothic A1;
  font-style: normal;
  font-weight: bold;
  font-size: 2vw;
  text-align: right;
  margin: 2vw;
  color: #000000;
}

.hbp{
  text-align: left;
}

.ssklp{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25vw;
  text-align: right;
  letter-spacing: 0.08em;
  margin: 0vw 4vw;

  color: #000000;
}

.hjh{
  text-align: left;
}
